entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["glib", "nspr", "nss", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXrandr", "mesa", "alsa-lib", "at-spi2-atk", "cups", "xorg.libXext", "xorg.libX11", "xorg.libxcb", "xorg.libXfixes", "xorg.libXi", "xorg.libXrender", "xorg.libXtst", "expat", "dbus", "pango", "cairo", "gtk3", "libxkbcommon"]

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["github:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_NO_PROMPT=1 EXPO_PACKAGER_PROXY_URL=https://$REPLIT_DEV_DOMAIN REACT_NATIVE_PACKAGER_HOSTNAME=$REPLIT_DEV_DOMAIN EXPO_PUBLIC_DOMAIN=$REPLIT_DEV_DOMAIN:5000 npx expo start --localhost --clear"
waitForPort = 8081

[userenv]

[userenv.development]
EXPO_PUBLIC_SANDBOX_MODE = "true"
EXPO_PUBLIC_RC_MONTHLY_PRODUCT = "pro_monthly"
EXPO_PUBLIC_RC_ANNUAL_PRODUCT = "pro_annual"

[userenv.shared]
EXPO_PUBLIC_RC_IOS_KEY = "appl_uAcQgNADjxGBEvUuqgvaoYjIaaz"

[userenv.production]
EXPO_PUBLIC_BACKEND_URL = "https://www.expathub.website"
